<div class="background no-display">
  <h1 class="no-display">Aufgabe terminieren</h1>
  <div class="popup no-display">
      <p>Aufgabe: Blumen giessen</p>
      <p>Aktuelle Terminierung: keine</p>
      <input type="datetime" placeholder="Termin wählen..." required />
      <input type="submit" value="Bestätigen" />
      <input type="button" value="Abbrechen" />
  </div>
  <h1 class="no-display">Terminierung zurücksetzten</h1>
  <div class="popup no-display">
      <p>Aufgabe: Blumen giessen</p>
      <p>Möchtest du die Terminierung dieser Aufgabe zurücksetzten?</p>
      <input type="submit" value="Ja, Terminierung zurücksetzten" />
      <input type="button" value="Abbrechen" />
  </div>
</div>
