<div class="container flex">
  <img src="assets/img/todo-logo.svg" height="100px"/>
  <form (ngSubmit)="login()">
      <input type="text"  [(ngModel)]="user" name="user" placeholder="Benutzername" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Passwort" required />
      <input [class.disabled]="isLoading" type="submit" name="submit" value="Anmelden" >
    <p>
      Noch kein Konto? <a href="">Registrieren</a>
    </p>
    <p>
      <a href="#">Passwort vergessen?</a>
    </p>
  </form>
  <!-- <div class="">
    <input type="text" placeholder="Benutzername" required />
    <input type="password" placeholder="Passwort" required />
    <input type="password" placeholder="Passwort" required />
    <input type="submit" value="Registrieren" />
    <p>
      <a href="">Zurück zur Anmeldung</a>
    </p>
  </div>
  <div class="">
    <p>
      Sorry, bruh.
    </p>
    <p>
      <a href="#">Zurück zur Anmeldung</a>
    </p>
  </div> -->
</div>
<div class="full-screen-loading" *ngIf="isLoading">
  <div class="loading" *ngIf="isLoading">
    <div class="loader_0"></div>
    <div class="loader_1"></div>
  </div>
</div>
