<div class="container flex">
  <img src="assets/img/todo-logo.svg" height="100px"/>
  <div class="forms-container">
    <div class="form-container" [class.no-display]="showForm!=0">
      <form (ngSubmit)="login()">
          <input type="text"  [(ngModel)]="user" name="user" placeholder="Benutzername" required />
          <input type="password" [(ngModel)]="password" name="password" placeholder="Passwort" required />
          <input type="submit" name="submit" value="Anmelden" >
        <p>
          Noch kein Konto? <span class="clickable" (click)="show(1)">Registrieren</span>
        </p>
        <p>
          <span class="clickable" (click)="show(2)">Passwort vergessen?</span>
        </p>
      </form>
    </div>
    <div class="form-container" [class.no-display]="showForm!=1">
      <form (ngSubmit)="register()">
        <input type="text" [(ngModel)]="regUser" placeholder="Benutzername" name="user" required />
        <input type="text" [(ngModel)]="regName" placeholder="Vorname" name="name" required />
        <input type="text" [(ngModel)]="regSurname" placeholder="Nachname" name="surname" required />
        <input type="password" [(ngModel)]="regPasswd" placeholder="Passwort" name="password" required />
        <input type="password" [(ngModel)]="regPasswdRepeat" placeholder="Passwort wiederholen" name="password-repeat" required />
        <input type="submit" value="Registrieren" name="submit"/>
        <p>
          <span class="clickable" (click)="show(0)">Zurück zur Anmeldung</span>
        </p>
      </form>
    </div>
    <div class="form-container" [class.no-display]="showForm!=2">
      <form>
        <p>
          Sorry, bruh.
        </p>
        <p>
          Bitte wende dich an einen Administrator.
        </p>
        <p>
          <span class="clickable" (click)="show(0)">Zurück zur Anmeldung</span>
        </p>
      </form>
    </div>
  </div>
</div>
<div class="full-screen-loading" *ngIf="isLoading">
  <div class="loading" *ngIf="isLoading">
    <div class="loader_0"></div>
    <div class="loader_1"></div>
  </div>
</div>
