<div class="container flex">
  <img src="assets/img/todo-logo.svg" height="100px"/>
  <div class="">
      <input type="text"  [(ngModel)]="user" placeholder="Benutzername" required />
      <input type="password" [(ngModel)]="password" placeholder="Passwort" required />
      <input type="submit" value="Anmelden" (click)="login()" >
    <p>
      Noch kein Konto? <a href="">Registrieren</a>
    </p>
    <p>
      <a href="#">Passwort vergessen?</a>
    </p>
  </div>
  <!-- <div class="">
    <input type="text" placeholder="Benutzername" required />
    <input type="password" placeholder="Passwort" required />
    <input type="password" placeholder="Passwort" required />
    <input type="submit" value="Registrieren" />
    <p>
      <a href="">Zurück zur Anmeldung</a>
    </p>
  </div>
  <div class="">
    <p>
      Sorry, bruh.
    </p>
    <p>
      <a href="#">Zurück zur Anmeldung</a>
    </p>
  </div> -->
</div>
