<div class="menu">
  <li>
    <ul>
      <p>
        Hallo
      </p>
      <h1>{{user.name}} {{user.surname}}</h1>
    </ul>
    <ul class="clickable flex" (click)="navigateTo('/overview')">
      Meine Übersicht
    </ul>
    <ul class="clickable flex" (click)="navigateTo('/account')">
      Mein Konto
    </ul>
    <ul class="clickable flex" (click)="navigateTo('/admin')" *ngIf="user.role == '1'">
      Administrator-Bereich
    </ul>
    <ul class="clickable flex" (click)="logout()">
      Abmelden
    </ul>
  </li>
</div>
