.clickable:hover {
  background-color: #061539;
}

.nav-visible { /* ändert die Größe des Menüs, sodass es sichtbar wird */
  min-width: 100%;
  max-width: 100%;
}
 @media (min-width: 1300px) {

   .nav-visible {
     min-width: 20%;
     max-width: 20%;
   }

 }
