/* GLOBALE STYLESHEETS */

/*
 * HTML-Standardtags
 */
body {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Helvetica, sans-serif;
}

p {

}

h1, h2, h3, h4, h5 {

}

a {

}

label {
  font-size: 75%;
  color: #bababa;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #2E4172;
  z-index: 99;
}

main {
  box-sizing: border-box;
}

footer {

}

nav {
  position: fixed;
  left: 0;
  top: 50px;
  min-width: 0;
  max-width: 0;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  transition: .3s;
  z-index: 99;
}

section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input {
  font-family: Verdana, Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #dadada;
  box-sizing: border-box;
  transition: box-shadow .5s ease-in-out, .2s;
  -webkit-appearance: none;
}

input:hover {
  border: 1px solid #bababa;
}

input:focus {
  border: 1px solid #bababa;
  box-shadow: 2px 2px 0 2px #7887AB, -2px -2px 0 2px #7887AB, 2px -2px 0 2px #7887AB, -2px 2px 0 2px #7887AB;
}

input[type="button"], input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

input[type="submit"] {
  color: white;
  background-color: #2E4172;
  border: 1px solid #061539;
}

input[type="submit"]:hover {
  background-color: #162856;
}

/*
 * Globable Klassen
 */
.red { /* rote Schrift */
  color: #A8383B !important;
}

.blue {  /* blaue Schrift */
  color: #2E4172 !important;
}

.clickable { /* ändert den Mauszeiger */
  padding: 10px;
  cursor: pointer;
}

.clickable.disabled {
  cursor: default;
}

.flex { /* erzeugt eine Flexbox mit Richtung "row" */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.translateable { /* Container zur Darstellung von Informationen und untergeorndeten Optionen */
  position: relative;
  width: 100%;
  min-height: 50px;
  margin: 0;
  padding: 0;
}

.translateable-info { /* Container zur Darstellung von Informationen; Teil von .translateable */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: white;
  box-sizing: border-box;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa;
  transition: .2s ease;
}

.translateable-options { /* Container zur Darstellung der Optionen; Teil von .translateable; standardmäßig unsichtbar */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 50px;
    box-sizing: border-box;
    background-color: #bababa;
}

.translated { /* Klasse verschiebt ein .translateable nach links, damit Optionen sichtbar werden */
  transform: translateX(-150px);
}

.options { /* Container zur Darstellung des Optionen-Buttons in .translateable-info */
  border-radius: 30px;
  transition: .3s;
  padding: 0px !important;
}

.options:hover {
  background-color: #eaeaea;
}

.full-screen-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 100;
}

.loading {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  position: relative;
}

.loading .loader_0, .loading .loader_1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2E4172;
  opacity: .5;
  animation: load 2s infinite;
}

.loading .loader_0 {
  animation: load 2s infinite 1s;
}

@keyframes load {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(0); }
}

/*
 * DESKTOP-DARSTELLUNG: HTML-Standardtags
 */
 @media (min-width: 1300px) {

   section {
     width: 50%;
     margin: auto;
   }

   .translateable-info {
     width: 80%;
   }

   .translateable-options {
     left: 80%;
     width: 20%;
     background-color: white;
     border-top: 1px solid #bababa;
     border-bottom: 1px solid #bababa;
   }

   .options {
     display: none;
   }

 }
