<section>
  <h1>Mein Account</h1>
  <label>Benutzername</label>
  <input type="text" [(ngModel)]="user.username" disabled />
  <label>Persönliche Informationen</label>
  <input type="text" [(ngModel)]="user.name" required />
  <input type="text" [(ngModel)]="user.surname" required />
</section>
<section>
  <label>Passwort</label>
  <div class="changePasswd" [class.no-display]="!showChangePassword">
    <input type="password" placeholder="Altes Passwort" [(ngModel)]="oldPasswd"/>
    <input type="password" placeholder="Neues Passwort" [(ngModel)]="newPasswd"/>
    <input type="password" placeholder="Neues Passwort wiederholen" [(ngModel)]="newPasswdRepeat"/>
  </div>
  <input type="button" value="{{textChangePassword}}" (click)="toggleChangePassword()" />
</section>
<section>
  <label>Konto löschen</label>
  <div class="deleteAccount" [class.no-display]="!showDeleteAccount">
    <span>Bist du sicher, dass du dein Konto löschen möchtest? Alle Aufgaben und alle Benutzerinformationen werden verworfen.</span>
    <input class="deleteBtn" type="button" value="Ja, mein Konto unwiderruflich löschen" (click)="removeAccount()"/>
  </div>
  <input type="button" value="{{textDeleteAccount}}" (click)="toggleDeleteAccount()" />
</section>
<section>
  <input type="submit" value="Änderungen speichern" (click)="updateAccount()" />
</section>
<div class="full-screen-loading" *ngIf="isLoading">
  <div class="loading" *ngIf="isLoading">
    <div class="loader_0"></div>
    <div class="loader_1"></div>
  </div>
</div>
